{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "ecmaVersion": 6 
  },
  "rules": {
      "comma-dangle": "off",
      "import/extensions": "off",
      "import/no-extraneous-dependencies": "off",
      "import/no-unresolved": "off",
      "import/prefer-default-export": "off",
      "no-confusing-arrow": "off",
      "no-mixed-operators": "off",
      "no-nested-ternary": "warn",
      "no-return-assign": "off",
      "no-underscore-dangle": "off",
      "react/jsx-filename-extension": "off",
      "react/jsx-no-bind": "warn",
      "react/prop-types": "warn",
      "semi": ["error", "never"]
  }
}
